{% extends "layout.html" %}

{% block title %}
    Anasayfa
{% endblock title %}


{% block body %}
    <div class="jumbotron text-center" style="height:fit-content;background-color:#d3d4cc">
        <h3>    Birhan Karahasan Bloğuna Hoşgeldiniz</h3>

        <p>Deneme Amaçlı Kurulmuştur <br> <br><br><br>
             Deneme Amaçlı Kurulmuştur
             <br> <br><br><br>
             Deneme Amaçlı Kurulmuştur
             <br> <br><br><br>
             Deneme Amaçlı Kurulmuştur
             <br> <br><br><br>
             Deneme Amaçlı Kurulmuştur
             
        </p>

    </div>
{% endblock body %}