{% extends "layout.html" %}

{% block title %}
    Kayıt Ol
{% endblock title %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}
<h3>Kayıt Ol</h3>
<hr>
<div style="width:800px; font-size:small; font-style: oblique;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:14px; "">
    <form method="POST">
    {{ render_field(form.name,class="form-control",placeholder="Ad Soyad") }}
    {{ render_field(form.username,class="form-control",placeholder="Kullanıcı Adı") }}
    {{ render_field(form.email,class="form-control",placeholder="E-Posta") }}
    {{ render_field(form.password,class="form-control",placeholder="Parola") }}
    {{ render_field(form.confirm,class="form-control",placeholder="Parola Doğrula") }}
    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
</form>
</div>


{% endblock body %}

